{{ puts 'Start ElexisBanner'}}
<table>
  <tr>
    <td width="15%" align='middle' ><a href='https://github.com/elexis/' ><img alt='elexis' src='{{ site.baseurl }}/images/splash.png'></a></td>
    <td width="55%" align='middle' ><h2>{{site.elexis_banner[site.active_lang]}}</h2></td>
    <td width="15%" align="middle" >
        <a href='http://www.netzwoche.ch/news/2017-10-23/das-sind-die-sieger-der-dinacon-awards#main-content'>Gewinner</a>
        <br>DINAcon<br>
        <a href='https://awards.dinacon.ch/kontakt/vergangene-awards/gewinner-2017/'>Award 2017</a>
    </td>
    <td width="15%" >
    <a href='https://awards.dinacon.ch/kontakt/vergangene-awards/gewinner-2017/'>
        <img alt='dinacon 2017' src='{{ site.baseurl}}/images/dinacon_2017_blue_small.jpg'></td>
    </a>
  </tr>
</table>
